<div class="nested-fields">
  <hr>
  <div class="field">
    <div class="small-12 medium-9 column">
      <div>      
        <div class="small-12 medium-12 column">
          <%= f.translatable_fields do |translations_form| %>
            <%= translations_form.text_field :value,
                                            placeholder: t("admin.legislation.questions.form.value_placeholder"),
                                            label: false %>
          <% end %>
        </div>
        <div class="small-12 medium-12 column question-image-fields">        
          <%= render "images/question_image", imageable: f.object, f: f, node_id: SecureRandom.hex(10) %>
        </div>
      </div>
    </div>
    <div class="small-12 medium-3 column">
      <%= link_to_remove_association t("admin.legislation.questions.question_option_fields.remove_option"), f, class: "delete"%>
    </div>
  </div>
</div>
