<div id="map-districts" class="sidebar-block">
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title"><%= t("map.title") %></h2>
  <%= render_map(nil, "budgets", false, nil, nil) %>
</div>
