<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <span class="icon-<%= image %> fa-2x"></span>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
    </div>
  </div>
</div>
