default: &default
  version: "0.19.2.2"
  server_name: <%= ENV['CONSUL_SERVER_NAME'] || "localhost:3000" %>
  twitter_key: <%= ENV['TWITTER_KEY'] || "" %>
  twitter_secret: <%= ENV['TWITTER_SECRET'] || "" %>
  facebook_key: <%= ENV['FACEBOOK_KEY'] || "" %>
  facebook_secret: <%= ENV['FACEBOOK_SECRET'] || "" %>
  google_oauth2_key: <%= ENV['GOOGLE_OAUTH2_KEY'] || "" %>
  google_oauth2_secret: <%= ENV['GOOGLE_OAUTH2_SECRET'] || "" %>
  wordpress_oauth2_key: <%= ENV['WORDPRESS_OAUTH2_KEY'] || "" %>
  wordpress_oauth2_secret: <%= ENV['WORDPRESS_OAUTH2_SECRET'] || "" %>
  wordpress_oauth2_site: <%= ENV['WORDPRESS_OAUTH2_SITE'] || "" %>
  secret_key_base: <%= ENV['SECRET_TOKEN'] || "5cfb3bfa405b6c4ac5d0098866b21ad5059301bc64425fee1080e6e41979879a40d39053ff3ad679ccabc3cab068eb0680a14df99ecd16fd28a8cf5b00a3d03e" %>

maps: &maps
  map_tiles_provider: "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
  map_tiles_provider_attribution: "&copy; <a href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors"

apis: &apis
  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""
  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

http_basic_auth: &http_basic_auth
  http_basic_auth: true

development:
  http_basic_username: "dev"
  http_basic_password: "pass"
  <<: *default
  <<: *maps

test:
  <<: *default
  <<: *maps

staging:
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *default
  <<: *maps
  <<: *apis

preproduction:
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""

  <<: *default
  <<: *maps
  <<: *apis

production:
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *default
  <<: *maps
  <<: *apis
